* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
  
.row {  
    display: flex;
    height: 100vh;
}
  
.side {
    flex: 30%;
    background-color: #484979;
    flex-direction: row;
    padding: 1rem;
}

.side a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 8px 8px 8px 8px;
}

.side a:hover {
    color: white;
    background-color: #ee5959;
}
  
.main {   
    flex: 70%;
    background-color: white;
    font-size: 28px;
    padding: 1rem;
}
